<!DOCTYPE html>
{% load static %}
{% load dictionary_values %}
{% load get_date %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'bootstrap/js/bootstrap.min.js' %}">
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}"" type="image/x-icon">
	<title>Weather App</title>
</head>
<body>
	<h1 class="main-text"> <center> Weather App</center></h1>
		<div class="container">
		 <div class="row justify-content-center">
			<div class="col-sm-100">
				<div class="card border-primary">
					<div class="card-body">
						<img class="card-image-top" src="{% static 'images/logo.png' %}" alt="logo.png" width="500" height="400">
						<form action="{% url  'weather' %}" method="POST">
								{% csrf_token %}
								<div class="form-group">
										<br>
										<input class="form-control" type="text" placeholder="Search" name="search">
						  			<br>
						  			<button class="btn btn-success"> Search City</button>
								</div>
						</form>
						<br>
							<h3 class="card-text">{% get_date %}</h3>
							<h3 class="card-text">{{ data|get_value:"City" }}, {{ data|get_value:"Country" }}</h3>
							<h3 class="card-text">{{ data|get_value:"Temperature" }}°C<img class="card-image-left" src="http://openweathermap.org/img/w/{{ data.icon }}.png " alt="Imagen.png" width="80" height="80"></h3>
							<h3 class="card-text">{{ data|get_value:"Description" }}, Feels like {{ data|get_value:"feels" }}°C </h3>
					</div>
				</div>
			</div>
		</div>
		<br>
		<br>
		<br>
	<script src="{% static 'bootstrap/js/bootstrap.bundle.js'%}"></script>
</body>
</html>