<!DOCTYPE html>
{% load dictionary_values %}
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/home.css'%}">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
	<link rel="stylesheet" href="{% static 'bootstrap/js/bootstrap.min.js'%}">
	<title>Weather App</title>
</head>
<body>
	<div class="text-center">
		<h1> Weather App API</h1>
	</div>
		<div class="container">
		 <div class="row justify-content-center">
			<div class="col-sm-100">
				<div class="card border-primary">
					<div class="card-body">
						<img class="card-image-top" src="{% static 'images/logo.png' %}" alt="logo.png" width="500" height="400">
						<form action="{% url  'weather' %}" method="POST">
								{% csrf_token %}
								<div class="form-group">
										<br>
										<input class="form-control" type="text" placeholder="Search" name="search">
						  			<br>
						  			<button class="btn btn-success"> Search City</button>
								</div>
						</form>
						<br>
						<h3 class="card-text">City: {{ data|get_value:"City" }}</h3>
						<h3 class="card-text">Country: {{ data|get_value:"Country" }} </h3>
						<h3 class="card-text">Description: {{ data|get_value:"Description" }} </h3>
						<h3 class="card-text">Temperature: {{ data|get_value:"Temperature" }} </h3>
						<figure class="image is-50x50">
							<img src="http://openweathermap.org/img/w/{{ data.icon }}.png " alt="Imagen.png" width="100" height="100">
						</figure>
					</div>
				</div>
			</div>
		</div>
		<br>
		<br>
		<br>
	<script src="{% static 'bootstrap/js/bootstrap.bundle.js'%}"></script>
</body>
</html>